
.home-page .avatar {
	width: 300px;
	aspect-ratio: 1;
}

.home-page .avatar .image {
	border-radius: 100%;
}

.read-more > span:before {
	position: absolute;
	content: '';
	background-color: white;
	margin: auto;
	width: 100%;
	height: 1px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	transform: scaleX(0.2);
	transform-origin: left center;
	animation: read-more-anim;
	animation-fill-mode: forwards;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
}

.read-more > span > span {
	display: inline-block;
	position: relative;
	color: white;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
	transform: translateX(-110%);
}

@keyframes read-more-anim {
	0% {
		transform-origin: right center;
		transform: scaleX(0.2);
	}
	70% {
		transform-origin: right center;
	}
	71% {
		transform-origin: left center;
		transform: scaleX(1);
	}

	100% {
		transform-origin: left center;
		transform: scaleX(0.2);
	}
}

@keyframes read-more-anim-2 {
	0% {
		transform-origin: left center;
		transform: scaleX(0.2);
	}
	70% {
		transform-origin: left center;
		transform: scaleX(1);
	}
	71% {
		transform-origin: right center;
	}
	100% {
		transform-origin: right center;
		transform: scaleX(0.2);
	}
}

.abs_image {
	width: 100%;
	aspect-ratio: 1;
	overflow: hidden;
}



.mobile-menu.opened {
	right: 0px;
}

.mouse-cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}

.cursor-inner {
	margin-left: -3px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	z-index: 50;
	background-color: #000;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}

.cursor-inner.cursor-hover {
	margin-left: -40px;
	margin-top: -40px;
	width: 80px;
	height: 80px;
	background-color: #000;
	opacity: 0.3;
}

.cursor-outer {
	margin-left: -15px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	border: 2px solid #000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 50;
	opacity: 0.5;
	-webkit-transition: all 0.08s ease-out;
	transition: all 0.08s ease-out;
}

.cursor-outer.cursor-hover {
	opacity: 0;
}