#preloader {
	position: fixed;
	left: 0;
	top: 0;
	height: 100vh;
	width: 100%;
	z-index: 99999;
	display: flex;
}
#preloader:before,
#preloader:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 50%;
	height: 100%;
	z-index: -1;
	background-color: #000;
	-webkit-transition: all 0.3s ease 0s;
	-o-transition: all 0.3s ease 0s;
	transition: all 0.3s ease 0s;
}
#preloader:after {
	left: auto;
	right: 0;
}
#preloader .loader_line {
	margin: auto;
	width: 1px;
	height: 250px;
	position: relative;
	overflow: hidden;
	-webkit-transition: all 0.8s ease 0s;
	-o-transition: all 0.8s ease 0s;
	transition: all 0.8s ease 0s;
}
.loader_line:before {
	content: '';
	position: absolute;
	left: 0;
	top: 50%;
	width: 1px;
	height: 0%;
	-webkit-transform: translateY(-50%);
	-ms-transform: translateY(-50%);
	-o-transform: translateY(-50%);
	transform: translateY(-50%);
	background-color: #fff;
	-webkit-animation: lineheight 1000ms ease-in-out 0s forwards;
	-o-animation: lineheight 1000ms ease-in-out 0s forwards;
	animation: lineheight 1000ms ease-in-out 0s forwards;
}
.loader_line:after {
	content: '';
	position: absolute;
	left: 0;
	top: 0;
	width: 1px;
	height: 100%;
	background-color: #999999;
	-webkit-transform: translateY(-100%);
	-ms-transform: translateY(-100%);
	-o-transform: translateY(-100%);
	transform: translateY(-100%);
	-webkit-animation: lineround 1200ms linear 0s infinite;
	-o-animation: lineround 1200ms linear 0s infinite;
	animation: lineround 1200ms linear 0s infinite;
	animation-delay: 2000ms;
}

@keyframes lineheight {
	0% {
		height: 0%;
	}
	100% {
		height: 100%;
	}
}

@keyframes lineround {
	0% {
		-webkit-transform: translateY(-100%);
		-ms-transform: translateY(-100%);
		-o-transform: translateY(-100%);
		transform: translateY(-100%);
	}
	100% {
		-webkit-transform: translateY(200%);
		-ms-transform: translateY(200%);
		-o-transform: translateY(200%);
		transform: translateY(200%);
	}
}

/*hiding all*/
.preloaded .loader_line:after {
	opacity: 0;
}
.preloaded .loader_line {
	opacity: 0;
	height: 100% !important;
}
.preloaded:before,
.preloaded:after {
	-webkit-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	-o-animation: preloadedzero 300ms ease-in-out 500ms forwards;
	animation: preloadedzero 300ms ease-in-out 500ms forwards;
}
@keyframes preloadedzero {
	0% {
		width: 50%;
	}
	100% {
		width: 0%;
	}
}

.section-container {
	position: absolute;
	top: 0px;
	bottom: 0px;
	left: 0px;
	right: 0px;
	overflow: hidden;
	overflow-y: scroll;

	opacity: 0;
	visibility: hidden;
	z-index: 8;
	transition: visibility 1s linear, opacity 0s linear;
	-moz-transition: visibility 1s linear, opacity 0s linear;
	-webkit-transition: visibility1s linear, opacity 0s linear;
	-o-transition: visibility 1s linear, opacity 0s linear;
}
.section-container.animated {
	opacity: 1;
	visibility: visible;
	z-index: 9;
}
.section-container.active {
	opacity: 1;
	visibility: visible;
	z-index: 10;
}
.section-container.hidden {
	opacity: 0;
	visibility: hidden;
	z-index: 9;
}
.section-container::-webkit-scrollbar {
	width: 0px;
}

.home-page .avatar {
	width: 300px;
	aspect-ratio: 1;
}

.home-page .avatar .image {
	border-radius: 100%;
}

.read-more > span:before {
	position: absolute;
	content: '';
	background-color: white;
	margin: auto;
	width: 100%;
	height: 1px;
	top: 0px;
	left: 0px;
	bottom: 0px;
	transform: scaleX(0.2);
	transform-origin: left center;
	animation: read-more-anim;
	animation-fill-mode: forwards;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
}

.read-more > span > span {
	display: inline-block;
	position: relative;
	color: white;
	z-index: 1;
	transition: 0.6s cubic-bezier(0.6, 0.01, 0, 1);
	transform: translateX(-110%);
}

@keyframes read-more-anim {
	0% {
		transform-origin: right center;
		transform: scaleX(0.2);
	}
	70% {
		transform-origin: right center;
	}
	71% {
		transform-origin: left center;
		transform: scaleX(1);
	}

	100% {
		transform-origin: left center;
		transform: scaleX(0.2);
	}
}

@keyframes read-more-anim-2 {
	0% {
		transform-origin: left center;
		transform: scaleX(0.2);
	}
	70% {
		transform-origin: left center;
		transform: scaleX(1);
	}
	71% {
		transform-origin: right center;
	}
	100% {
		transform-origin: right center;
		transform: scaleX(0.2);
	}
}

.modalbox .description_wrap::-webkit-scrollbar {
	width: 11px;
}
.modalbox .description_wrap {
	scrollbar-width: thin;
	scrollbar-color: #999 #fff;
}
.modalbox .description_wrap:-webkit-scrollbar-track {
	background: #fff;
}
.modalbox .description_wrap::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 6px;
	border: 3px solid #fff;
}
.abs_image {
	width: 100%;
	aspect-ratio: 1;
	overflow: hidden;
}
.collection-page .portfolio_list li .inner:hover .abs_image {
	transform: scale(1.1) translateZ(0);
}

.product-cards  {
    margin: auto;
}

.product-card > a {
	background-color: rgb(73 75 80 / 1)
}

.product-card .image {
	aspect-ratio: 1;
}

.product-card .image img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
	transform-origin: top left;
    filter: grayscale(1);
    cursor: pointer;
    transition: transform 0.3s ease, filter 0.3s ease;
}

.product-card:hover .image img {
    transform: scale(1.1) translateZ(0) translate(-50%, -50%);
    filter: grayscale(0);
}

.product-card:hover .read-more span:before {
	animation: read-more-anim-2;
	animation-fill-mode: forwards;
	animation-duration: 0.4s;
	animation-timing-function: cubic-bezier(0.6, 0.01, 0, 1);
}

.product-card:hover .read-more span {
	transform: translateX(0%);
}

.product-card .extra:before {
	position: absolute;
	bottom: -14px;
	height: 1px;
	width: 100%;
	background-color: rgba(255, 255, 255, 0.2);
	--tw-content: '';
	content: var(--tw-content);
}


.modalbox .read-more {
	display: none;
}
body.modal {
	overflow-y: hidden;
}
.modalbox .description_wrap::-webkit-scrollbar {
	width: 11px;
}
.modalbox .description_wrap {
	scrollbar-width: thin;
	scrollbar-color: #999 #fff;
}
.modalbox .description_wrap:-webkit-scrollbar-track {
	background: #fff;
}
.modalbox .description_wrap::-webkit-scrollbar-thumb {
	background-color: #999;
	border-radius: 6px;
	border: 3px solid #fff;
}
.contact-page .fields ul li input {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	background-color: transparent;
}
.contact-page .fields ul li input:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.contact-page .fields .last textarea {
	width: 100%;
	border: 1px solid rgba(0, 0, 0, 0.2);
	height: 120px;
	resize: none;
	margin-bottom: 20px;
	background-color: transparent;
}
.contact-page .fields .last textarea:focus {
	outline: none;
	border: 1px solid rgba(0, 0, 0, 0.5);
}
.contact-page .empty_notice {
	color: #f52225;
	margin-bottom: 7px;
	display: none;
	text-align: left;
	font-weight: 500;
}
.contact-page .contact_error {
	color: #f52225;
	text-align: left;
	font-weight: 500;
}
.contact-page .returnmessage {
	color: #3a00ff;
	margin-bottom: 7px;
	text-align: left;
	font-weight: 500;
}

.mobile-menu.opened {
	right: 0px;
}
.mouse-cursor {
	position: fixed;
	left: 0;
	top: 0;
	pointer-events: none;
	border-radius: 50%;
	-webkit-transform: translateZ(0);
	transform: translateZ(0);
}
.cursor-inner {
	margin-left: -3px;
	margin-top: -3px;
	width: 6px;
	height: 6px;
	z-index: 50;
	background-color: #000;
	-webkit-transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out,
		opacity 0.3s ease-in-out;
	transition: width 0.3s ease-in-out, height 0.3s ease-in-out, margin 0.3s ease-in-out, opacity 0.3s ease-in-out;
}
.cursor-inner.cursor-hover {
	margin-left: -40px;
	margin-top: -40px;
	width: 80px;
	height: 80px;
	background-color: #000;
	opacity: 0.3;
}
.cursor-outer {
	margin-left: -15px;
	margin-top: -15px;
	width: 30px;
	height: 30px;
	border: 2px solid #000;
	-webkit-box-sizing: border-box;
	box-sizing: border-box;
	z-index: 50;
	opacity: 0.5;
	-webkit-transition: all 0.08s ease-out;
	transition: all 0.08s ease-out;
}
.cursor-outer.cursor-hover {
	opacity: 0;
}

body.dark .modalbox_about .description_wrap {
	scrollbar-width: thin;
	scrollbar-color: #777 #34353a;
}
body.dark .modalbox_about .description_wrap:-webkit-scrollbar-track {
	background: #34353a;
}
body.dark .modalbox_about .description_wrap::-webkit-scrollbar-thumb {
	background-color: #777;
	border-radius: 6px;
	border: 3px solid #34353a;
}
body.dark .modalbox .description_wrap {
	scrollbar-width: thin;
	scrollbar-color: #777 #34353a;
}
body.dark .modalbox .description_wrap:-webkit-scrollbar-track {
	background: #34353a;
}
body.dark .modalbox .description_wrap::-webkit-scrollbar-thumb {
	background-color: #777;
	border-radius: 6px;
	border: 3px solid #34353a;
}