@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/css/components/cursor.css';
@import '@/css/components/preloader.css';
@import '@/css/main.css';

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-50%, 0, 0);
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		overflow-x: hidden;
	}

	body.dark {
		@apply text-gray-300 bg-slate-700;
	}

	a {
		@apply text-buddha-gold-600 hover:text-buddha-gold-700;
		transition: color 0.3s;
	}

	a[href^='tel:'] {
		@apply text-curious-blue-500 hover:text-curious-blue-600;
	}

	a > svg {
		@apply text-white;
	}

	p {
		/* @contentful/rich-text-react-renderer */
		white-space: pre-wrap;
	}

	q,
	blockquote {
	  @apply italic text-center max-w-[800px] grid my-6 m-auto;
	}

	input,
	textarea {
	  @apply p-2.5;
	}
}

@layer utilities {
	.animated {
		animation-duration: .9s;
		animation-fill-mode: both;
		animation-name: fadeInLeft;
	}

	.visually-hidden {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		@apply absolute;
	}
}

@layer components {

	.page {
		@apply pb-16 pt-20 md:pt-24;
	}

	.container {
		max-width: 1024px;
	}

	.section-container {
		@apply absolute inset-0 overflow-hidden overflow-y-scroll z-10;
	}
	
	.section-container::-webkit-scrollbar {
		@apply w-0;
	}

	@media (max-width: 1200px) {
		.section-container {
			padding-left: 0px;
		}
	}

	.page-header {
		@apply mb-8 md:mb-16;
	}

	.page-header-title {
		@apply font-extrabold font-montserrat text-4xl mt-4 mb-8 text-shadow shadow-slate-900;
	}

	.page-header-subtitle {
		@apply text-xl mb-5;
	}
	
	.breadcrumbs {
		@apply font-semibold font-montserrat mb-3;
	}

	.breadcrumb-item.current a {
		@apply text-gray-300 pointer-events-none;
	}

	.breadcrumb-item .arrow {
		@apply text-gray-300 relative top-0.5 md:top-0 mx-1.5 md:mx-2;
	}

	.main-navigation {
		@apply shadow-slate-900 shadow-lg flex h-screen z-20 font-medium font-montserrat;
		background: radial-gradient(circle, rgba(55,65,81,1) 0%, rgba(65,81,105,1) 100%);
	}

	.navigation-link {
		@apply text-shadow shadow-slate-800 text-gray-300 hover:text-white;
	}

	.navigation-link.active {
		@apply text-buddha-gold-600;
	}


	.rich-text-block {
		@apply w-full border-solid mb-10 font-montserrat font-medium leading-7;
	}

	.rich-text-block-border {
		@apply rich-text-block border-[#DFDFDF] border-b pb-8;
	}

	.text-block h3, h4, h5 {
		@apply mb-4;
	}

	.text-block h3 {
		@apply text-2xl;
	}

	.text-block h4 {
		@apply text-lg text-[lightgray];
	}
	
	.hamburger {
		@apply overflow-visible cursor-pointer ease-linear duration-[0.15s] transition-[opacity,filter] normal-case text-inherit bg-transparent hidden absolute m-0 p-0 border-0 right-4 top-4;
	}

	@media (max-width: 1200px) {
		.hamburger {
			@apply block;
		}
	}

	.hamburger.is-active:hover,
	.hamburger:hover {
		@apply opacity-100;
	}
	
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner:after,
	.hamburger.is-active .hamburger-inner:before {
		@apply bg-white;
	}

	.hamburger-box {
		@apply relative inline-block w-[30px] h-6;
	}

	.hamburger-inner {
		@apply block -mt-0.5 top-2/4;
	}

	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		@apply absolute w-[30px] h-0.5 ease-[ease] duration-[0.15s] transition-transform rounded bg-white;
	}

	.hamburger-inner:after,
	.hamburger-inner:before {
		@apply block content-[""];
	}

	.hamburger-inner:before {
		@apply -top-2.5;
	}
	
	.hamburger-inner:after {
		@apply -bottom-2.5;
	}

	.hamburger--slider .hamburger-inner {
		@apply top-0.5 before:ease-[ease] before:duration-[0.15s] before:transition-[transform,opacity] before:top-2.5 after:top-5;
	}

	.hamburger--slider.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}

	.hamburger--slider.is-active .hamburger-inner:before {
		@apply opacity-0;
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
	}

	.hamburger--slider.is-active .hamburger-inner:after {
		transform: translate3d(0, -20px, 0) rotate(-90deg);
	}

	.image-container {
		@apply relative overflow-hidden;
	}

	.image-container-bordered {
		@apply border-curious-blue-600 border-opacity-80 border-2 hover:border-opacity-100;
	}

	.image-centered {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 origin-center min-w-full min-h-full;
	}

	.image-zoomable {
		@apply hover:scale-110 transition duration-300;
	}

	.image-grayscale {
		@apply grayscale hover:grayscale-0 transition duration-300;
	}

	.contact-details {
		@apply font-montserrat font-medium mb-6 leading-7 text-center;
	}

	.page-footer {
		@apply absolute flex bottom-2 right-5 z-20 text-[12px];
	}

	.page-footer a {
		@apply ml-2;
	}
}
