@tailwind base;
@tailwind components;
@tailwind utilities;

@import '@/css/components/cursor.css';
@import '@/css/components/preloader.css';
@import '@/css/components/navigation.css';


@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		@apply font-mulish overflow-x-hidden text-gray-300 bg-slate-700 text-base/8;
	}

	body::-webkit-scrollbar {
		width: 0px;
	}

	h1,
	h2,
	h3,
	h4,
	h5,
	h6 {
		@apply text-white;
	}

	a {
		@apply text-buddha-gold-600 hover:text-buddha-gold-700;
		transition: color 0.3s;
	}

	a[href^='tel:'] {
		@apply text-amber-600 hover:text-amber-700;
	}

	a > svg {
		@apply text-white;
	}

	p {
		/* @contentful/rich-text-react-renderer */
		white-space: pre-wrap;
	}

	q,
	blockquote {
		@apply italic text-center max-w-[800px] grid mt-6 mx-auto text-white;
	}

	input,
	textarea {
		@apply p-2.5;
	}
}

/* @layer utilities {

} */

@layer components {
	.site-wrapper {
		@apply relative min-h-screen w-full;
	}

	.main-content {
		background: linear-gradient(-70deg, rgb(72, 81, 99) 0%, rgb(58, 60, 62) 50%, rgb(52, 54, 58) 100%);
		@apply w-full min-h-screen relative pl-0 lg:pl-80 2xl:pl-96;
	}

	.main-content-inner {
		@apply relative min-h-screen;
	}

	.page {
		@apply pb-16 pt-20 md:pt-24;
	}

	.container {
		@apply relative clear-both h-auto w-full max-w-screen-md lg:max-w-screen-lg mx-auto px-5 sm:px-10 py-0;
	}

	.section-container {
		@apply absolute inset-0 overflow-hidden overflow-y-scroll z-10;
	}

	.section-container::-webkit-scrollbar {
		@apply w-0;
	}

	.page-header {
		@apply mb-8 md:mb-10;
	}

	.page-header-title {
		@apply font-extrabold font-montserrat text-4xl mt-4 mb-8 text-shadow shadow-slate-900;
	}

	.page-header-subtitle {
		@apply text-xl mb-5;
	}

	.breadcrumbs {
		@apply font-semibold font-montserrat mb-3;
	}

	.breadcrumb-item {
		@apply inline-block;
	}

	.breadcrumb-item.current a {
		@apply text-gray-300 pointer-events-none;
	}

	.breadcrumb-item .arrow {
		@apply text-gray-300 relative top-0.5 md:top-[2px] mx-1.5 md:mx-2;
	}

	.rich-text-block {
		@apply w-full border-solid mb-10 font-montserrat font-medium leading-7;
	}

	.rich-text-block-border {
		@apply rich-text-block border-gray-300 border-b pb-8;
	}

	.text-block h3,
	h4,
	h5 {
		@apply mb-4;
	}

	.text-block h3 {
		@apply text-2xl;
	}

	.text-block h4 {
		@apply text-lg text-[lightgray];
	}

	.image-container {
		@apply relative overflow-hidden rounded-md;
	}

	.image-container .image-caption {
		@apply truncate absolute bottom-0 w-full text-white bg-slate-800/40 px-3 text-center;
	}

	.image-container-bordered {
		@apply border-amber-600 border-opacity-80 border-2 hover:border-opacity-100;
	}

	.image-centered {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 origin-center min-w-full min-h-full;
	}

	.image-zoomable {
		@apply hover:scale-110 transition duration-500;
	}

	.image-grayscale {
		@apply grayscale hover:grayscale-0 transition duration-500;
	}

	.contact-details {
		@apply font-montserrat font-medium mb-6 leading-7 text-center;
	}

	.page-footer {
		@apply absolute flex bottom-2 right-5 z-20 text-[12px];
	}

	.page-footer a {
		@apply ml-2;
	}

	.button {
		@apply inline-block 
			bg-buddha-gold-700 
			hover:bg-buddha-gold-800
			text-gray-300
			hover:text-white
			text-shadow-sm 
			transition-all 
			ease-in-out 
			duration-500 
			py-2 
			px-10;
	}

	.button:disabled {
		@apply pointer-events-none cursor-default opacity-70;
	}

	.card {
		@apply aspect-square w-full max-w-sm shadow-slate-800 shadow-lg mx-auto;
	}
	
	.card-image {
		filter: brightness(90%) saturate(140%);
	}

	.card-title {
		@apply text-white text-lg font-medium mb-4 w-full truncate;
	}
}
