@tailwind base;
@tailwind components;
@tailwind utilities;

@import '../css/custom.css';
@import '../css/main.css';

@keyframes fadeInLeft {
	0% {
		opacity: 0;
		transform: translate3d(-50%, 0, 0);
	}
	60% {
		opacity: 0;
	}
	100% {
		opacity: 1;
		transform: none;
	}
}

@layer base {
	* {
		box-sizing: border-box;
	}

	body {
		overflow-x: hidden;
	}

	a {
		color: #b7950b;
		transition: color 0.3s;
	}

	a:hover {
		color: #d4ac0d;
	}

	a[href^='tel:'] {
		color: #3498db;
	}

	a > svg {
		color: white;
	}

	p {
		/* @contentful/rich-text-react-renderer */
		white-space: pre-wrap;
	}

	q,
	blockquote {
		font-style: italic;
		text-align: center;
		max-width: 800px;
		display: grid;
		margin: auto;
		margin: 24px auto;
	}

	input, textarea {
		padding: 10px;
	}
}

@layer utilities {
	.animated {
		animation-duration: .9s;
		animation-fill-mode: both;
		animation-name: fadeInLeft;
	  }

	.visually-hidden {
		clip-path: polygon(0 0, 0 0, 0 0, 0 0);
		position: absolute;
	  }
}

@layer components {

	.container {
		max-width: 1024px;
	}

	.inner-border {
		outline: 5px solid rgba(255,255,255,.1);
		outline-offset: 0px;
	}

	.section-container {
		@apply absolute inset-0 overflow-hidden overflow-y-scroll z-10;

		
	}
	
	.section-container::-webkit-scrollbar {
		@apply w-0;
	}

	@media (max-width: 1200px) {
		.section-container {
			padding-left: 0px;
		}
	}

	.main-navigation {
		@apply flex h-screen z-20;
		background: radial-gradient(circle, rgba(55,65,81,1) 0%, rgba(65,81,105,1) 100%);
	}

	.navigation-link {
		@apply inline-block font-medium font-montserrat hover:text-white;
	}

	.text-block h3, h4, h5 {
		margin-bottom: 1rem;
	}

	.text-block h3 {
		font-size: 24px;
	}

	.text-block h4 {
		font-size: 18px;
		color: lightgray;
	}
	
	.hamburger {
		font: inherit;
		overflow: visible;
		margin: 0;
		padding: 0px;
		cursor: pointer;
		transition-timing-function: linear;
		transition-duration: 0.15s;
		transition-property: opacity, filter;
		text-transform: none;
		color: inherit;
		border: 0;
		background-color: transparent;
		display: none;
		position: absolute;
		top: 16px;
		right: 16px;
	}

	@media (max-width: 1280px) {
		.hamburger {
			display: block;
		}
	}

	.hamburger.is-active:hover,
	.hamburger:hover {
		opacity: 1;
	}
	.hamburger.is-active .hamburger-inner,
	.hamburger.is-active .hamburger-inner:after,
	.hamburger.is-active .hamburger-inner:before {
		background-color: white;
	}
	.hamburger-box {
		position: relative;
		display: inline-block;
		width: 30px;
		height: 24px;
	}
	.hamburger-inner {
		top: 50%;
		display: block;
		margin-top: -2px;
	}
	.hamburger-inner,
	.hamburger-inner:after,
	.hamburger-inner:before {
		position: absolute;
		width: 30px;
		height: 2px;
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform;
		border-radius: 4px;
		background-color: white;
	}
	.hamburger-inner:after,
	.hamburger-inner:before {
		display: block;
		content: "";
	}
	.hamburger-inner:before {
		top: -10px;
	}
	.hamburger-inner:after {
		bottom: -10px;
	}
	
	.hamburger--slider .hamburger-inner {
		top: 2px;
	  }
	.hamburger--slider .hamburger-inner:before {
		top: 10px;
		transition-timing-function: ease;
		transition-duration: 0.15s;
		transition-property: transform, opacity;
	}
	.hamburger--slider .hamburger-inner:after {
		top: 20px;
	}
	.hamburger--slider.is-active .hamburger-inner {
		transform: translate3d(0, 10px, 0) rotate(45deg);
	}
	.hamburger--slider.is-active .hamburger-inner:before {
		transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
		opacity: 0;
	}
	.hamburger--slider.is-active .hamburger-inner:after {
		transform: translate3d(0, -20px, 0) rotate(-90deg);
	}

	.collection-page .collection {
		@apply grid grid-cols-1 sm:grid-cols-2 md:grid-cols-3 gap-4 justify-center;
	}

	.submit-button button {
		display: inline-block;
		--tw-bg-opacity: 1;
		background-color: rgb(0 0 0 / var(--tw-bg-opacity));
		padding-top: 9px;
		padding-right: 40px;
		padding-bottom: 14px;
		padding-left: 40px;
		--tw-text-opacity: 1;
		color: rgb(255 255 255 / var(--tw-text-opacity));
		transition-property: all;
		transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
		transition-duration: 300ms;
	}

	.image-container {
		@apply relative border-yellow-600 border-opacity-80 border-2 hover:border-opacity-100;
	}

	.image-container.image-container-square {
		@apply aspect-square overflow-hidden;
	}

	.image-container.image-container-portrait {
		@apply aspect-[3/4] overflow-hidden;
	}

	.zoomable-centered-image {
		@apply absolute top-1/2 left-1/2 transform -translate-x-1/2 -translate-y-1/2 origin-center grayscale hover:grayscale-0 hover:scale-110 transition duration-300;
	}
}
