
body {
	width: 100%;
	overflow-x: hidden;
	--tw-bg-opacity: 1;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0px;
	--tw-text-opacity: 1;
	color: rgb(118 118 118);
}

body::-webkit-scrollbar {
	width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	@apply text-white;
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

.container {
	@apply relative clear-both h-auto w-full max-w-[1070px] mx-auto px-10 py-0;
}

.site-wrapper {
	@apply relative min-h-screen w-full;
}

.top-bar {
	@apply w-[450px] absolute z-20 pl-[70px] pt-[10vh] left-[100px] top-[250px];
}

.main-navigation {
	@apply absolute w-[350px] items-center px-[70px] py-0 left-0 top-0;
}

.sub-navigation {
	@apply ml-3 mt-2;
}

.sub-navigation li {
	@apply mb-2;
}

.sub-navigation .navigation-link {
	font-size: 95%;
}

.main-content {
	@apply pl-[350px];
	background: rgb(52,54,58);
	background: linear-gradient(-70deg, rgba(72,81,99,1) 0%, rgba(58,60,62,1) 50%, rgba(52,54,58,1) 100%);
}

/*----------------------------------------------------*/

/*     MEDIA QUERIES FOR SMALL DEVICES                */

/*----------------------------------------------------*/

/******** Bigger Screens *********/

@media (max-width: 1600px) {
	.container {
		max-width: 968px;
	}

	.top-bar {
		width: 224px;
		left: 70px;
	}

	.navigation-link {
		font-size: 16px;
	}

	.main-content {
		padding-left: 350px;
	}
}

/******** Larger Screens *********/

@media (max-width: 1200px) {
	
	.top-bar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 12px 20px;
		width: 100vw;
	}

	.main-navigation {
		width: 200px;
		position: fixed;
		right: 0;
		left: auto;
		transform: translateX(200px);
		transition: transform .3s;
		padding: 130px 20px;
		align-items: start;
	}

	.main-navigation.mobile-open {
		transform: translateX(0px);
	}

	.main-navigation .navigation-link {
		font-size: 16px;
	}

	.navigation {
		text-align: right;
	}

	.sub-navigation {
		padding-right: 10px;
		margin-left: 0;
	}

	.sub-navigation .navigation-link {
		font-size: 90%;
	}

	.main-content {
		padding-left: 0px;
	}

	 .main-content-inner {
		border-left-width: 0px;
	}

	.about-page,
	.collection-page,
	.contact-page {
		padding-top: 130px;
	}
}

/******** Middle Screens *********/

@media (max-width: 1040px) {

	.main-navigation li a {
		font-size: 16px;
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}