
body {
	width: 100%;
	overflow-x: hidden;
	--tw-bg-opacity: 1;
	font-size: 15px;
	font-weight: 400;
	line-height: 30px;
	letter-spacing: 0px;
	--tw-text-opacity: 1;
	color: rgb(118 118 118 / var(--tw-text-opacity));
}

body::-webkit-scrollbar {
	width: 0px;
}

h1,
h2,
h3,
h4,
h5,
h6 {
	font-weight: 500;
	line-height: 1.4;
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
}

h1 {
	font-size: 45px;
}

h2 {
	font-size: 36px;
}

h3 {
	font-size: 30px;
}

h4 {
	font-size: 24px;
}

h5 {
	font-size: 20px;
}

h6 {
	font-size: 16px;
}

.container {
	position: relative;
	clear: both;
	margin-left: auto;
	margin-right: auto;
	height: auto;
	width: 100%;
	max-width: 1070px;
	padding-left: 40px;
	padding-right: 40px;
	padding-top: 0px;
	padding-bottom: 0px;
}

.site-wrapper {
	position: relative;
	min-height: 100vh;
	width: 100%;
}

.site-wrapper,
.site-wrapper * {
	box-sizing: border-box;
}

.top-bar {
	width: 450px;
	position: absolute;
	top: 250px;
	left: 100px;
	padding-top: 10vh;
	padding-left: 70px;
	z-index: 20;
}

.main-navigation {
	position: absolute;
	top: 0;
	left: 0;
	width: 350px;
	padding: 0 70px;
	padding-top: 0px;
	align-items: center;
}

.sub-navigation {
	margin-left: 12px;
	margin-top: 8px;
}

.sub-navigation li {
	@apply mb-2;
}

.sub-navigation .navigation-link {
	font-size: 95%;
}

.main-content {
	@apply pl-[350px];
	background: rgb(52,54,58);
	background: linear-gradient(-70deg, rgba(72,81,99,1) 0%, rgba(58,60,62,1) 50%, rgba(52,54,58,1) 100%);
}

.read-more {
	position: relative;
	width: 100%;
	overflow: hidden;
}

.read-more span {
	position: relative;
	display: inline-block;
	overflow: hidden;
	padding-right: 32px;
	font-family: Montserrat, sans-serif;
	font-size: 12px;
	font-weight: 500;
	text-transform: uppercase;
	--tw-text-opacity: 1;
	color: rgb(0 0 0 / var(--tw-text-opacity));
}

.entry {
	position: relative;
}

.\!entry {
	position: relative;
}

/*----------------------------------------------------*/

/*     MEDIA QUERIES FOR SMALL DEVICES                */

/*----------------------------------------------------*/

/******** Bigger Screens *********/

@media (max-width: 1600px) {
	.container {
		max-width: 968px;
	}

	.top-bar {
		width: 224px;
		left: 70px;
	}

	.navigation-link {
		font-size: 16px;
	}

	.main-content {
		padding-left: 350px;
	}
}

/******** Larger Screens *********/

@media (max-width: 1200px) {
	
	.top-bar {
		position: absolute;
		top: 0;
		left: 0;
		padding: 12px 20px;
		width: 100vw;
	}

	.main-navigation {
		width: 200px;
		position: fixed;
		right: 0;
		left: auto;
		transform: translateX(200px);
		transition: transform .3s;
		padding: 130px 20px;
		align-items: start;
	}

	.main-navigation.mobile-open {
		transform: translateX(0px);
	}

	.main-navigation .navigation-link {
		font-size: 16px;
	}

	.navigation {
		text-align: right;
	}

	.sub-navigation {
		padding-right: 10px;
		margin-left: 0;
	}

	.sub-navigation .navigation-link {
		font-size: 90%;
	}

	.main-content {
		padding-left: 0px;
	}

	 .main-content-inner {
		border-left-width: 0px;
	}

	.about-page,
	.collection-page,
	.contact-page {
		padding-top: 130px;
	}
}

/******** Middle Screens *********/

@media (max-width: 1040px) {

	.main-navigation li a {
		font-size: 16px;
	}

	.container {
		padding-left: 20px;
		padding-right: 20px;
		padding-top: 0px;
		padding-bottom: 0px;
	}
}

/*----------------------------------------------------*/

/*     DARK MODE                                      */

/*----------------------------------------------------*/

body.dark {
	--tw-bg-opacity: 1;
	background-color: rgb(52 53 58 / var(--tw-bg-opacity));
	--tw-text-opacity: 1;
	color: rgb(187 187 187 / var(--tw-text-opacity));
}

body.dark h1,
body.dark h2,
body.dark h3,
body.dark h4,
body.dark h5,
body.dark h6 {
	--tw-text-opacity: 1;
	color: rgb(255 255 255);
}

body.dark .site-wrapper .main-content {
	--tw-bg-opacity: 1;
	background-color: rgb(52 53 58 / var(--tw-bg-opacity));
}

body.dark .site-wrapper .main-content-inner {
	border-left-width: 0px;
}

body.dark .cursor-inner {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body.dark .cursor-inner.cursor-hover {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body.dark .cursor-outer {
	--tw-border-opacity: 1;
	border-color: rgb(255 255 255 / var(--tw-border-opacity));
}

body.dark .cursor-outer.cursor-hover {
	opacity: 0;
}

body.dark .read-more a {
	--tw-text-opacity: 1;
	color: rgb(255 255 255 / var(--tw-text-opacity));
}

body.dark .read-more a:before {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body.dark .preloader:before,
body.dark .preloader:after {
	--tw-bg-opacity: 1;
	background-color: rgb(255 255 255 / var(--tw-bg-opacity));
}

body.dark .preloader-line:before {
	--tw-bg-opacity: 1;
	background-color: rgb(0 0 0 / var(--tw-bg-opacity));
}

body.dark .preloader-line:after {
	--tw-bg-opacity: 1;
	background-color: rgb(204 204 204 / var(--tw-bg-opacity));
}
