
.top-bar {
	@apply w-full lg:w-80 z-30 absolute top-1 left-0 pl-5 lg:pl-16 pt-3 lg:pt-[10vh];
}

.main-navigation {
    background: radial-gradient(circle, rgba(55,65,81,1) 0%, rgba(65,81,105,1) 100%);
    align-items: start;
    @apply 
        flex 
        lg:items-center 
        
        w-52
        md:w-72
        lg:w-80
        2xl:w-96
        h-screen 
        
        fixed
        lg:absolute 
        top-0
        left-auto
        lg:left-0
        right-0
        lg:right-auto

        translate-x-52
        md:translate-x-72
        transition-transform
        duration-[0.3s]
        lg:translate-x-0
        lg:transition-none

        px-5
        lg:px-[70px]
        py-[130px]
        lg:py-0 
        
        shadow-slate-900 
        shadow-lg 
        
        z-20 
        font-medium 
        font-montserrat;
}

.main-navigation.mobile-open {
    @apply translate-x-0;
}

.navigation {
    @apply text-right lg:text-left;
}

.navigation-link {
    @apply text-base text-shadow shadow-slate-800 text-gray-300 hover:text-white ;
}

.navigation-link.active {
    @apply text-buddha-gold-600;
}

.sub-navigation {
    @apply mt-2 ml-0 lg:ml-3 pr-2.5;
}

.sub-navigation li {
	@apply mb-2;
}

.sub-navigation .navigation-link {
	@apply text-[95%];
}

.hamburger {
    @apply 
        overflow-visible
        cursor-pointer
        ease-linear
        duration-[0.15s]
        transition-[opacity,filter]
        normal-case
        text-inherit
        bg-transparent
        block
        lg:hidden
        absolute
        m-0
        p-0
        border-0
        right-4
        top-4;
}

.hamburger.is-active:hover,
.hamburger:hover {
    @apply opacity-100;
}

.hamburger.is-active .hamburger-inner,
.hamburger.is-active .hamburger-inner:after,
.hamburger.is-active .hamburger-inner:before {
    @apply bg-white;
}

.hamburger-box {
    @apply relative inline-block w-[30px] h-6;
}

.hamburger-inner {
    @apply block -mt-0.5 top-2/4;
}

.hamburger-inner,
.hamburger-inner:after,
.hamburger-inner:before {
    @apply absolute w-[30px] h-0.5 ease-[ease] duration-[0.15s] transition-transform rounded bg-white;
}

.hamburger-inner:after,
.hamburger-inner:before {
    @apply block content-[""];
}

.hamburger-inner:before {
    @apply -top-2.5;
}

.hamburger-inner:after {
    @apply -bottom-2.5;
}

.hamburger--slider .hamburger-inner {
    @apply top-0.5 before:ease-[ease] before:duration-[0.15s] before:transition-[transform,opacity] before:top-2.5 after:top-5;
}

.hamburger--slider.is-active .hamburger-inner {
    transform: translate3d(0, 10px, 0) rotate(45deg);
}

.hamburger--slider.is-active .hamburger-inner:before {
    @apply opacity-0;
    transform: rotate(-45deg) translate3d(-5.71429px, -6px, 0);
}

.hamburger--slider.is-active .hamburger-inner:after {
    transform: translate3d(0, -20px, 0) rotate(-90deg);
}